* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.835); }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

body {
  font-size: 16px;
  line-height: 1.4em;
  letter-spacing: 0.08em;
  background-image: url("../../img/backgroundLine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Quicksand, sans-serif; }

.wrapper {
  display: flex;
  justify-content: center; }

@media (max-width: 991.98px) {
  body {
    background: #9468fe; } }
#header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #header .navBar {
    align-items: center; }
    #header .navBar #tieuDe {
      font-family: "Lobster", cursive;
      font-size: 24px;
      color: #fff;
      letter-spacing: 3px; }
    #header .navBar .nav-item .nav-link {
      color: #fff;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: capitalize; }
      #header .navBar .nav-item .nav-link.groupLogoI {
        padding: 0; }
      #header .navBar .nav-item .nav-link .groupLogo {
        display: flex;
        justify-content: center;
        align-items: center; }
        #header .navBar .nav-item .nav-link .groupLogo img {
          height: 46px;
          width: 46px;
          margin-right: 5px; }
      #header .navBar .nav-item .nav-link .colapseButton {
        background: #fff;
        outline: none;
        border-radius: 50%;
        border: none; }
        #header .navBar .nav-item .nav-link .colapseButton:hover, #header .navBar .nav-item .nav-link .colapseButton:focus-visible {
          box-shadow: 0 0 6px 4px #9468fe; }
        #header .navBar .nav-item .nav-link .colapseButton img {
          width: 20px;
          height: auto; }
    #header .navBar .dropdown:hover > .dropdown-menu {
      display: block; }

#boxInfo {
  background: #fff;
  display: inline-block;
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0; }
  #boxInfo .divDownloadResume {
    background: #dff0ea;
    text-align: center;
    padding: 20px;
    border-radius: 5px; }

#thongTinCaNhan .groupInfo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 13px;
  text-align: justify; }
  #thongTinCaNhan .groupInfo .labelText {
    text-transform: uppercase;
    font-weight: 700;
    float: left;
    width: 100px;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap; }
  #thongTinCaNhan .groupInfo dd {
    width: 190px; }

#componentInfoCard #avatar {
  height: 195px;
  width: 195px;
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  margin: auto;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2); }
#componentInfoCard .hoTen {
  width: 255px;
  margin: auto;
  color: #010101;
  font-size: 24px;
  margin-bottom: 0.688em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  white-space: pre-wrap;
  line-height: 1.5; }
#componentInfoCard .ChucDanh {
  width: 255px;
  margin: auto;
  text-align: center;
  font-size: 16px;
  margin: 5px auto;
  font-weight: 500;
  color: #757575;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.2; }
#componentInfoCard .listSocial {
  padding: 10px; }
  #componentInfoCard .listSocial .nav-item {
    border-radius: 50px; }
    #componentInfoCard .listSocial .nav-item .nav-link .fab {
      color: #010101; }
    #componentInfoCard .listSocial .nav-item:hover {
      cursor: pointer;
      background: #8c34eb; }
      #componentInfoCard .listSocial .nav-item:hover .nav-link .fab {
        color: #fff; }

.paper {
  border-color: #e1e1e1;
  background-color: #fff;
  z-index: 3;
  padding: 45px 20px;
  border-radius: 3px;
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
  text-align: left; }
  .paper .titlePaper {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 50px; }
  .paper .text_Medium {
    display: flex;
    align-items: center; }
  .paper .textDefault {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7; }
  .paper .subTitle {
    font-size: 1.35em;
    margin-bottom: 1.571em;
    color: #757575; }

.line {
  background-color: #e1e1e1;
  width: 85%;
  margin: auto;
  height: 1px; }

@media screen and (min-width: 1200px) {
  .container-sm {
    margin-left: 330px; } }
@media screen and (min-width: 992px) {
  .container-sm {
    margin-left: 310px; }
    .container-sm.group_content_body {
      margin-right: 72px; } }

.btn--downloadResume {
  background: #000;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border-color: #4a0c62;
  box-shadow: 0 0 6px 1px #4a0c62; }
  .btn--downloadResume:hover {
    background: #4a0c62;
    border-color: #4a0c62; }

/*# sourceMappingURL=style.css.map */
