* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.835);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  font-size: 16px;
  line-height: 1.4em;
  letter-spacing: 0.08em;
  background-image: url("../../img/backgroundLine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  justify-content: center;
}
@media (max-width: 991.98px) {
  ///920
  body {
    background: #9468fe;
  }
}
