#componentInfoCard {
  #avatar {
    height: 195px;
    width: 195px;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin: auto;
  }
  .hoTen {
  }
  .ChucDanh {
  }
  .listSocial {
  }
  .nav-item {
    .nav-link {
    }
  }
}
