// colors
$color-white-0: #ffffff;
$color-black-0: #010101;
$color-grey-0: #757575;

// fontsize
$fs-h1: 30px;
$fs-h2: 24px;
$fs-h3: 20px;
$fs-h4: 18px;
$fs-h5: 14px;
$fs-h6: 12px;
// font family
$ff-text: "Quicksand", sans-serif;
$ff-Logo: "Lobster", cursive;
// breakpoints
$breakpoints: (
  "max-sreen": 1375px,
  "extra-large": 1200px,
  "large": 992px,
  "medium": 769px,
  "small": 576px,
  "verysmall": 500px,
);
