#boxInfo {
  background: #fff;
  display: inline-block;
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: sticky;
  top: 30px;
  .divDownloadResume {
    background: #dff0ea;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }
  @media (max-width: 991.98px) {
    position: unset;
    box-shadow: 0 0 black;
    border-radius: 0;
    width: 100%;
    background: #cabbe9;
    #componentInfoCard {
      margin: auto;
      margin-bottom: 3rem;
    }
    .divDownloadResume {
      background: #fff;
      width: 100%;
      border-radius: 0;
      .btn--downloadResume {
        padding: 10px 15%;
      }
    }
  }
}
