#duAn_portfolio {
  .btn-group {
    margin-bottom: 2rem;
    button {
      background: transparent;
      border: none;
      font: normal 500 16px/130px var(--roboto);
      color: $color-grey-0;
      font-size: $fs-default;
      font-weight: 600;
      line-height: 27px;
      text-transform: capitalize;
      cursor: pointer;
      & + button {
        padding: 0 1.5rem;
      }
      &:hover,
      &.active {
        color: $color-black-0;
        font-weight: 700;
      }
    }
  }
  .grid {
    .element-item {
      --primary-color: #4ca2cd;
      --secondary-color: #65af6f;
    }
  }
}
