#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navBar {
    .nav-item {
      .nav-link {
      }
    }

    .dropdown:hover > .dropdown-menu {
      display: block;
    }
  }
}
